<div class="border border-secondary border-2 rounded p-3" >
<form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <div class="mb-3">
      <label for="email" class="form-label"> Email </label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
      />
      <span
        *ngIf="registrationForm.controls.email.touched
                && registrationForm.controls.email.errors?.['required']"
        class="error-message"
      >
        Il campo email è obbligatorio
      </span>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"> Password </label>
      <div class="input-group">
        <input
          [type]="isPasswordVisible ? 'text' : 'password'"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
        (click)="isPasswordVisible = !isPasswordVisible"
      >
        {{ isPasswordVisible ? 'Hide' : 'Show' }}
      </button>
      </div>
      <span
        *ngIf="registrationForm.controls.password.touched
    && registrationForm.controls.password.errors?.['required']"
        class="error-message"
      >
        Il campo password è obbligatorio
      </span>
    </div>
    <div class="mb-3">
      <label for="repeatPassword" class="form-label"> Repeat Password </label>
      <div class="input-group">
        <input
          [type]="isRepeatPasswordVisible ? 'text' : 'password'"
          class="form-control"
          id="repeatPassword"
          formControlName="repeatPassword"
        />
        <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="isRepeatPasswordVisible = !isRepeatPasswordVisible"
      >
      {{isRepeatPasswordVisible ? 'Hide' : 'Show'}}
      </button>

      </div>
      <span
        *ngIf="registrationForm.controls.repeatPassword.touched
    && registrationForm.controls.repeatPassword.errors?.['required']"
        class="error-message"
      >
        Il campo repeat password è obbligatorio
      </span>
      <span
      *ngIf="registrationForm.controls.repeatPassword.touched
  && registrationForm.errors?.['repeatPasswordError']"
      class="error-message"
    >
      Le password non coincidono
    </span>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success"
      type="submit"
      [disabled]="!registrationForm.valid">
        Registrati
      </button>
    </div>
  </form>
</div>